<!DOCTYPE html>
    {% load static %}
<!--Durga put load static here-->


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/indexstyles.css' %}">


</head>

<body>

    <div class="container" align="center">
        <div class="jumbotron">
            <h1>WELCOME TO ALL INDIA JOBS PORTAL</h1>
            <p><strong><em>Continuous job updates for every hour</em></strong></p>
            <a href="/hydjobs" class="btn btn-primary btn-lg">HYDERABAD JOBS</a>
            <a href="/blorejobs" class="btn btn-primary btn-lg">BANGLORE JOBS</a>
            <a href="/punejobs" class="btn btn-primary btn-lg">PUNE JOBS</a>
            <a href="/chennaijobs" class="btn btn-primary btn-lg">CHENNAI JOBS</a>

        </div>

    </div>


</body>
</html>